/***animation of products appearing***/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap);
.product-list {
  -webkit-animation: move-up 0.5s linear forwards;
          animation: move-up 0.5s linear forwards;
}

@-webkit-keyframes move-up {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes move-up {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
.product--1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.product--2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.product--3 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.product--4 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/*
.product--1 {
    animation-delay: 0.1s;
}
.product--2  {
    animation-delay: 0.4s;
}
.product--3 {
    animation-delay: 0.7s;
}
.product--4  {
    animation-delay: 1s;
} */
/***animation of products appearing - END***/
/***Text is pushed to the left***/
.detail-product:hover {
  padding-right: 80px;
  transition-property: padding-right;
}
.detail-product:hover:hover .selection-check {
  -webkit-animation: move-left 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.94) both;
          animation: move-left 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.94) both;
  visibility: visible;
}

@-webkit-keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
/***Text is pushed to the left - END***/
/***check animation return***/
.selection-check {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation: move-return 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: move-return 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition-duration: 0.6s;
}

@-webkit-keyframes move-return {
  0% {
    transform: translateX(-100px);
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move-return {
  0% {
    transform: translateX(-100px);
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0px);
  }
}
/***check animation return - END***/
/***icon rotation***/
.detail-product:hover .selection-rotate {
  -webkit-animation: icon-rotate;
          animation: icon-rotate;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/***icon rotation - END***/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "Raleway", sans-serif;
}

h1, h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 13px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 15px;
  margin: 40px 20px 20px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px rgba(56, 55, 55, 0.3);
  width: 200px;
}
.btn:hover {
  box-shadow: 2px 2px 5px 3px rgba(56, 55, 55, 0.4);
  opacity: 0.85;
}

.heart, .introduction-tag__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  padding: 0;
  position: relative;
  background-color: transparent;
}
.heart .fa-heart, .introduction-tag__icon .fa-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  position: absolute;
}
.heart .fa-regular, .introduction-tag__icon .fa-regular {
  color: #000;
  z-index: 3;
  background-color: transparent;
}
.heart .fa-solid, .introduction-tag__icon .fa-solid {
  color: #9356DC;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  fill-opacity: 1;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 5;
}
.heart .fa-solid:hover, .introduction-tag__icon .fa-solid:hover {
  transition-duration: 0.4s;
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 58px;
}
.header__logo {
  height: 30px;
  margin-top: 10px;
}
.header__link {
  font-size: 1.3rem;
  position: absolute;
  color: #000;
  text-decoration: none;
  left: 30px;
}
.header__link:hover {
  color: #9356DC;
}

.footer {
  color: #fff;
  background-color: #353535;
  width: 100%;
  padding: 15px 20px 25px 20px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .footer {
    display: flex;
    align-items: center;
  }
}
@media all and (min-width: 992px) {
  .footer {
    display: flex;
    align-items: center;
  }
}
.footer__heading {
  font-weight: lighter;
  margin: 10px 0;
  font-size: 18px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .footer__heading {
    width: 15%;
    text-align: center;
  }
}
@media all and (min-width: 992px) {
  .footer__heading {
    width: 15%;
    text-align: center;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .footer-nav {
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .footer-nav {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}
.footer-nav__link {
  color: #fff;
  margin: 5px 0;
  display: block;
  text-decoration: none;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .footer-nav__link {
    margin-right: 15px;
  }
}
.footer-nav__link:hover {
  color: #9356DC;
}
.footer-nav__icon {
  height: 15px;
  margin-right: 15px;
  width: 15px;
  display: inline-block;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .footer-nav__icon {
    margin: auto 6px auto 5px;
  }
}
@media all and (min-width: 992px) {
  .footer-nav__icon {
    margin: auto 6px auto 5px;
  }
}
.footer-nav ul {
  list-style-type: none;
  padding-left: 0px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
}

.main-menu {
  width: 100%;
  text-align: center;
  margin: -50px auto 0 auto;
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
}

.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .introduction {
    display: block;
  }
}
@media all and (min-width: 992px) {
  .introduction {
    display: block;
  }
}

.introduction__picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 30vh;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .introduction__picture {
    height: 35vh;
  }
}
@media all and (min-width: 992px) {
  .introduction__picture {
    height: 50vh;
  }
}

.introduction-tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 15px auto 2px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .introduction-tag {
    display: block;
  }
}
@media all and (min-width: 992px) {
  .introduction-tag {
    display: block;
  }
}
.introduction-tag__h1 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .introduction-tag__icon {
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .introduction-tag__icon {
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .wrapper-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media all and (min-width: 992px) {
  .wrapper-product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .product {
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .product {
    width: 32%;
  }
}

.product h2 {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}

.detail-product {
  background-color: #fff;
  display: flex;
  overflow: hidden;
  text-align: left;
  width: 100%;
  max-width: 600px;
  max-width: 100%;
  border-radius: 15px;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 1px 5px 9px 0px rgba(111, 111, 111, 0.2);
  opacity: 0%;
  transition: 0.5s;
  cursor: pointer;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .detail-product {
    width: 70%;
  }
}
@media all and (min-width: 992px) {
  .detail-product {
    width: auto;
  }
}

.product-detail h3 {
  font-weight: bold;
}

.product-detail, .product-detail h3, .product-detail p {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
  margin: -5px;
}

.product-price {
  font-weight: bold;
  margin: auto 25px 6px auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.selection-check {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  height: 90px;
  width: 90px;
  position: absolute;
  visibility: hidden;
  margin-left: 100%;
  margin-top: -12px;
}

.selection-rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
  width: 28px;
  height: 28px;
  margin-left: 31px;
}
.selection-rotate .fa-check {
  color: #99E2D0;
}

.loader {
  background: rgb(255, 255, 255);
  background: radial-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  -webkit-animation: fadeout ease 3s 1 normal forwards;
          animation: fadeout ease 3s 1 normal forwards;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  -webkit-animation: spin 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 2;
          animation: spin 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 2;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  -webkit-animation-delay: -50ms;
          animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  -webkit-animation-delay: -100ms;
          animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: #9356DC;
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #FF79DA;
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #99E2D0;
  height: 62px;
  width: 62px;
  top: 21px;
}

@-webkit-keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeout {
  0%, 85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeout {
  0%, 85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.main {
  background-color: #f6f6f6;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 4px 0px rgba(41, 41, 41, 0.2);
}
.search-bar__icon {
  font-size: 18px;
  font-weight: 700;
  padding-right: 15px;
  margin: 0;
}
.search-bar__text {
  font-weight: 700;
  margin: 0;
}

.search-btn {
  background-color: #f6f6f6;
  width: 100%;
  padding: 1px 0 30px 0;
  text-align: center;
}
.search-btn__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 20px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .search-btn__heading {
    text-transform: uppercase;
  }
}
@media all and (min-width: 992px) {
  .search-btn__heading {
    text-transform: uppercase;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .search-btn__heading > br {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .search-btn__heading > br {
    display: none;
  }
}
.search-btn__byline {
  color: #575656;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .search-btn__byline > br {
    display: none;
  }
}
@media all and (min-width: 992px) {
  .search-btn__byline > br {
    display: none;
  }
}

.functioning {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px 40px 15px;
}
.functioning__heading {
  font-weight: 700;
  font-size: 22px;
  margin: 40px auto 20px auto;
  text-align: left;
}
.functioning__nav {
  width: 100%;
  margin: 0 auto;
}

.functionality {
  counter-reset: item;
  padding: 0;
}
@media all and (min-width: 992px) {
  .functionality {
    display: flex;
    gap: 20px;
  }
}
.functionality li {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  list-style: none;
}
.functionality li:before {
  content: counter(item) " ";
  counter-increment: item;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  padding: 3px;
  border-radius: 15px;
  display: block;
}

.functionality-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f6f6f6;
  padding: 15px;
  margin: 10px auto;
  border-radius: 20px;
  width: 95%;
  font-weight: 700;
  box-shadow: 1px 5px 9px 0px rgba(111, 111, 111, 0.2);
}
.functionality-tag:hover {
  background-color: #f5edff;
}
.functionality-tag:hover .functionality-tag__icon {
  background-color: #9356DC;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.functionality-tag__icon {
  font-size: 18px;
  color: #5f5e5e;
  flex: 0.5;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .functionality-tag__icon {
    flex: 1.5;
  }
}
@media all and (min-width: 992px) {
  .functionality-tag__icon {
    flex: 1.5;
  }
}
.functionality-tag__text {
  font-size: 14px;
  text-align: left;
  flex: 2;
  cursor: default;
}

.restaurants {
  width: 100%;
  padding: 30px 15px;
  margin: 50px auto 0 auto;
  background-color: #f6f6f6;
}
.restaurants__heading {
  width: 100%;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 21px;
  text-align: left;
}
.restaurants__menus {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .restaurants__menus {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 992px) {
  .restaurants__menus {
    grid-template-columns: repeat(4, 1fr);
  }
}

.menu {
  width: 100%;
  background-color: #fff;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 1px 5px 9px 0px rgba(111, 111, 111, 0.2);
  transition: all 0.2s ease-in-out;
  position: relative;
  margin: 0 auto;
}
.menu:hover {
  transform: scale(1.05);
}
.menu__pictures {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu__news {
  position: absolute;
  background-color: #99E2D0;
  color: #038162;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 2px;
  bottom: 210px;
  right: 10px;
}

.menu-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: relative;
}
.menu-infos__text {
  color: #000;
  flex: 1;
  text-align: left;
  text-decoration: none;
}
.menu-infos__text h3 {
  padding: 0;
  margin: 4px auto;
}
.menu-infos__text p {
  color: #3a3a3a;
  font-size: 15px;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */