.btn {
    font-size: 13px;
    background: linear-gradient($secondarycolor, $primarycolor);
    border: none;
    cursor: pointer;
    color: $whitecolor;
    padding: 15px;
    margin: 40px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(56, 55, 55, 0.3);
    width: 200px;
    &:hover {
        box-shadow: 2px 2px 5px 3px rgba(56, 55, 55, 0.4);
        opacity: 0.85;
    }
}