.heart, .introduction-tag__icon {
    @include centering;
    height: 38px;
    width: 38px;
    padding: 0;
    position: relative;
    background-color: transparent;
        & .fa-heart {
            @include centering;
            font-size: 26px;
            position: absolute;
        }
        & .fa-regular {
            color: $blackcolor;
            z-index: 3;
            background-color: transparent;  
        }
        & .fa-solid {
            color: $primarycolor;
            background: linear-gradient($primarycolor, $secondarycolor);
            background-clip: text;
            fill-opacity: 1;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            z-index: 5;
        }
        & .fa-solid:hover {
            transition-duration: 0.4s;
            opacity: 1;
        }
}