.product-list {
	        animation: move-up 0.5s linear forwards;
}

@keyframes move-up {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
}

.product-1 {
    animation-delay: 0.1s;
}
.product-2  {
    animation-delay: 0.4s;
}
.product-3 {
    animation-delay: 0.7s;
}
.product-4  {
    animation-delay: 1s;
}

@keyframes move-left {
    0% {
              transform: translateX(0);
    }
    100% {
              transform: translateX(-90px);
    }
}

@keyframes move-return {
    0% {
              transform: translateX(-90px);
              opacity: 0%;
    }
    100% {
              transform: translateX(0px);
              opacity: 100%;
    }
  }


  @keyframes icon-rotate {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }