$primarycolor: #9356DC;
$secondarycolor: #FF79DA;
$tertiarycolor: #99E2D0;
$blackcolor: #000;
$whitecolor: #fff;
$backgroundGrey: #f6f6f6;

$breakpoints: (
  medium-size: 768px,
  large-size: 992px,
);