$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$blackColor: #000;
$whiteColor: #fff;
$backgroundGrey: #fdfdfd;

$breakpoints: (
  medium-size: 768px,
  large-size: 992px,
);