.main-menu {
    width: 100%;
    text-align: center;
    margin: -50px auto 0 auto;
    padding: 10px;
    background-color: $backgroundGrey;
    border-radius: 50px 50px 0 0;
    position: relative;
}

.introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0px;
    @include tablette {
        display: block;
    }
    @include desktop {
        display: block;
    }
}

.introduction__picture {
    width: 100%;
    object-fit: cover;
    height: 30vh;
    @include tablette {
        height: 35vh;
    }
    @include desktop {
        height: 50vh;
    }
}

.introduction-tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 15px auto 2px;
    @include tablette {
        display: block;
    }
    @include desktop {
        display: block;
    }
    &__h1 {
        font-size: 27px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &__icon {
        @include tablette {
            width: 100%;
        }
        @include desktop {
            width: 100%;
        }
    }
}

.wrapper-product {
  @include tablette {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    @include desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    }
}

.product {
    @include tablette {
      width: 100%;
    }
    @include desktop {
      width: 32%;
    }
}

.product h2 {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    padding-bottom: 10px;
    margin-top: 10px;
    @include green-line; 
}

.detail-product {
    background-color: $whitecolor;
    display: flex;
    overflow: hidden;
    text-align: left;
    width: 100%;
    max-width: 600px;
    max-width: 100%;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 1px 5px 9px 0px rgba(111, 111, 111, 0.2);
    opacity: 0%;
    transition: 0.5s;
    cursor: pointer;
        @include tablette {
        width: 70%;
        }
        @include desktop {
        width: auto;
        }
}

.product-detail h3 {
    font-weight: bold;
}

.product-detail, .product-detail h3, .product-detail p {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    margin: -5px;
}

.product-price {
    font-weight: bold;
    margin: auto 25px 6px auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.selection-check {
    background-color: $tertiarycolor;
    display: flex;
    align-items: center;
    height: 90px;
    width: 90px;
    position: absolute;
    visibility: hidden;
    margin-left: 100%;
    margin-top : -12px;
}

.selection-rotate {
    @include centering;
    background-color: $whitecolor;
    border-radius: 15px;
    width: 28px;
    height: 28px;
    margin-left: 31px;
        & .fa-check {
            color: $tertiarycolor;
        }
}
