.header {
    @include centering;
    width: 100%;
    height: 58px;
    &__logo {
        height: 35px;
        }
    &__link {
        color: $blackColor;
        text-decoration: none;
        &:hover {
            color: $primarycolor;
        }
    }
}
